*{
    margin: 0;
    padding: 0;
}
nav{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
nav:hover{
    background-color: white;
}
header{
    background-image: url("./k1.jpg"); 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}.menu a{
    text-decoration:none;
    color: black;
    margin-right: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.visit:hover{
    transform: scale(0.98);
}
